<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Strippr</title>
    <link type="text/css" rel="stylesheet" href="../public/css/app.css" />

  </head>
  <body>
   
    <div id="content">
      <div class="strip">
        <div class="head">
          Title
          <div class="likes">
            <img src="http://i.imgur.com/Y5zq7m0.png">
            100
          </div>
        </div>
        <div class="pic">
          <img src="http://imgs.xkcd.com/comics/conversation.png">
        </div>
      </div>
    </div>

  </body>
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
  <script type="text/javascript" src="../public/js/request.js"></script>
</html>