doctype html
html(lang="en")
  head
    title= pageTitle
  body
    #content
      .head Title
        .likes
          img(src="http://i.imgur.com/Y5zq7m0.png") 100
      .pic
        img(src="http://imgs.xkcd.com/comics/conversation.png")