<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Inkr</title>
    <link type="text/css" rel="stylesheet" href="../public/css/signup.css" />
    <link type="text/css" rel="stylesheet" href="../public/css/focus.css" />
    <link type="text/css" rel="stylesheet" href="../public/css/nav.css" />

    <script src="../public/js/angular.min.js"></script>
    <script>

      var loginApp = angular.module('loginApp', []);

      function loginController($scope, $http) {

        $scope.loginData = {};
        $scope.message = "Invalid username and password combo!";
        $scope.err = false;

        var reset = function() {
          $scope.err = true;

          $scope.loginData = {};
        };
        $scope.loginForm = function() {

            // if (isValid) {
            //   console.log("invalid data");
            //   reset();
            // }
           
            console.log(" Submitting form");
            var dataObject = {
              username : $scope.loginData.username,
              password : $scope.loginData.password
            };
            console.log(dataObject);
            console.log(dataObject.username);
            console.log(dataObject.password);

            var response = $http.post("http://inkr.me/api/authenticate", dataObject, {});

            response.success(function(dataFromServer, status, headers, config) {
              console.log("Success!");

              if (dataFromServer[0] == "false") {
                console.log("not found");
                reset();

              } else {
                console.log(dataFromServer);
                console.log(dataFromServer[0]);
                //$cookieStore.put(‘loggedin’, true);

                //window.location = '/';
//$cookieStore.put(‘loggedin’, ”); FOR LOGOFF

              }
              
           });
            response.error(function(data, status, headers, config) {
              console.log("Submitting form failed!");
           });
        };

      }

    </script>
  </head>
  <body ng-app="loginApp" ng-controller="loginController">
   
    <div id="content">
      <h1> Log In </h1>
      
      <div id="results" ng-class="{vis: err}">{{message}}</div>

      <form ng-submit="loginForm()" novalidate>


        <input required type="text" name="username" placeholder="Username" autocomplete="off" ng-model="loginData.username" >

        <input required type="password" name="password" placeholder="Password" autocomplete="off" ng-model="loginData.password" >


        <input type="submit" name="submit" value="Log in" class="active" /> 


      </form>
 
<!-- 

  <pre>
    {{ loginData }}
  </pre> -->


    </div>

    <div class="menu closed">

      <a href="/login">
        Log In
      </a>
      <a href="/signup">
        Sign Up
      </a>
      <a href="/">
        Profile
      </a>
      <div class="filler"></a>
      <div class="nav">
        <div class="line l1"></div>
        <div class="line l2"></div>
        <div class="line l3"></div>
      </div>
    </div>

    <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
  <script> 
    $(function() {

      $('.nav').click(function() {
            $('.l1').toggleClass('close');
            $('.l2').toggleClass('close');
            $('.l3').toggleClass('close');
            $('.menu').toggleClass('closed');
        });
    });
  </script>
  </body>
  
  
</html>