<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Strippr</title>
    <link type="text/css" rel="stylesheet" href="../public/css/signup.css" />
    <link type="text/css" rel="stylesheet" href="../public/css/focus.css" />

    <script src="../public/js/angular.min.js"></script>
    <script>

      var loginApp = angular.module('loginApp', []);

      function loginController($scope, $http) {

        $scope.loginData = {};
        $scope.message = "Invalid username and password combo!";
        $scope.err = false;

        // var reset = function() {
        //   $scope.err = true;

        //   $scope.loginData = {};
        // };
        $scope.loginForm = function() {

            // if (isValid) {
            //   console.log("invalid data");
            //   reset();
            // }
           
            console.log(" Submitting form");
            var dataObject = {
              username : $scope.loginData.username,
              password : $scope.loginData.password
            };
            console.log(dataObject);
            console.log(dataObject.username);
            console.log(dataObject.password);

            var response = $http.post("http://strippr.me/api/authenticate", dataObject, {});

            console.log(response);

            response.success(function(dataFromServer, status, headers, config) {
              console.log("Success!");
              console.log(dataFromServer[0]);
              if (dataFromServer[0] == false) {
                console.log("not found");
               // reset();

              } else {
                console.log(dataFromServer[0]);
                //$cookieStore.put(‘loggedin’, true);

                //window.location = '/';
//$cookieStore.put(‘loggedin’, ”); FOR LOGOFF

              }
              
           });
            response.error(function(data, status, headers, config) {
              console.log("Submitting form failed!");
           });
        };

      }

    </script>
  </head>
  <body ng-app="loginApp" ng-controller="loginController">
   
    <div id="content">
      <h1> Log In </h1>
      
      <div id="results" ng-class="{vis: err}">{{message}}</div>

      <form ng-submit="loginForm()" novalidate>


        <input required type="text" ng-pattern="/^[a-z0-9_-]{3,16}$/"  name="username" placeholder="Username" autocomplete="off" ng-model="loginData.username" >

        <input required ng-minlength="6" type="password" name="password" placeholder="Password" autocomplete="off" ng-model="loginData.password" >


        <input type="submit" name="submit" value="Log in" class="active" /> 


      </form>
 


  <pre>
    {{ loginData }}
  </pre>
    </div>

  </body>
  
  
</html>