<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Strippr</title>
    <link type="text/css" rel="stylesheet" href="../public/css/signup.css" />
    <script src="../public/js/angular.min.js"></script>
    <script>

      var loginApp = angular.module('loginApp', []);

      function formController($scope, $http) {

        $scope.loginData = {};
        $scope.message = "Invalid username and password combo!";
        $scope.err = false;

        $scope.processForm = function() {
           
            console.log(" Submitting form");
            var dataObject = {
              username : $scope.loginData.username,
              password : $scope.loginData.password
            };

            var responsePromise = $http.post("http://strippr.me/api/authenticate", dataObject, {});
            responsePromise.success(function(dataFromServer, status, headers, config) {
              console.log("Success!");
              console.log(dataFromServer[0]);
              if (dataFromServer[0] == false) {
                $scope.err = true;
              }
              window.location = '/';
           });
            responsePromise.error(function(data, status, headers, config) {
              console.log("Submitting form failed!");
           });
     
        };

      }

    </script>
  </head>
  <body ng-app="loginApp" ng-controller="formController">
   
    <div id="content">
      <h1> Log In </h1>
      
      <form ng-submit="processForm()" name="loginData" novalidate>

        <div id="results" ng-show="err">{{message}}</div>

        <input type="text" name="username" value="" placeholder="Username" ng-model="loginData.username" >

        <input type="password" name="password" value="" placeholder="Password" ng-model="loginData.password" >


        <input type="submit" name="submit" value="Log in" class="active" /> 


      </form>
 


  <pre>
    {{ loginData }}
  </pre>
    </div>

  </body>
  
  
</html>