<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Strippr</title>
    <link type="text/css" rel="stylesheet" href="../public/css/signup.css" />
    <script src="../public/js/angular.min.js"></script>
    <script>

      var formApp = angular.module('formApp', []);

      function formController($scope, $http) {

        $scope.formData = {};
        $scope.passCheck = "";

        $scope.processForm = function(isValid) {
          // $http({
          //   method  : 'POST',
          //   url     : 'http://strippr.me/api/users',
          //   data    : ($scope.formData),  // pass in data as strings
          //   headers : { 'Content-Type': 'application/x-www-form-urlencoded' }  
          // })
          // .success(function(data) {
          //     console.log(data);

          //     if (!data.success) {
          //       // if not successful, bind errors to error variables
          //       console.log("error");

          //     } else {
          //       // if successful, bind success message to message
          //       console.log("success");
          //       window.location = '/';
          //     }
          // });

            console.log(isValid);

            if (!isValid) {
              console.log("invalid");
              return;
            }
            console.log(" Submitting form");
            var dataObject = {
              username : $scope.formData.username,
              email  : $scope.formData.email,
              password : $scope.formData.password
            };


            var responsePromise = $http.post("http://strippr.me/api/users", dataObject, {});
            responsePromise.success(function(dataFromServer, status, headers, config) {
              console.log("YES");
           });
            responsePromise.error(function(data, status, headers, config) {
              console.log("Submitting form failed!");
           });
     
        };

      }

    </script>
  </head>
  <body ng-app="formApp" ng-controller="formController">
   
    <div id="content">
      <h1> Sign Up </h1>
      



      <form ng-submit="processForm(formData.$valid)" novalidate>

        <input required type="text" ng-pattern="/^[a-z0-9_-]{3,16}$/" name="username" placeholder="Username" autocomplete="off" ng-model="formData.username" >

        <input required type="text" ng-pattern="/@/" name="email" placeholder="Email" autocomplete="off" ng-model="formData.email">

        <input required ng-minlength="6" type="password" name="password" placeholder="Password (Minimum 6 characters)" autocomplete="off" ng-model="formData.password" >

        <input required type="password" name="password" placeholder="Confirm password" autocomplete="off" ng-model="passCheck" ng-class="{valid: passCheck == formData.password, invalid: passCheck != formData.password}">

        <input type="submit" name="submit" value="Sign Up" ng-class="{active: formData.username.$valid && formData.email.$valid && formData.password.$valid && passCheck == formData.password}"/> 


      </form>
 


 <pre>
    {{ formData }}
  </pre>
    </div>

  </body>
  
  
</html>