<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Strippr</title>
    <link type="text/css" rel="stylesheet" href="../public/css/signup.css" />
    <script src="../public/js/angular.min.js"></script>
    <script>

      var formApp = angular.module('formApp', []);

      function formController($scope, $http) {

        $scope.formData = {};
        $scope.passCheck = "";

        $scope.processForm = function() {
          $http({
            method  : 'POST',
            url     : '/api/users',
            data    : $.param($scope.formData),  // pass in data as strings
            headers : { 'Content-Type': 'application/x-www-form-urlencoded' }  
          })
          .success(function(data) {
              console.log(data);

              if (!data.success) {
                // if not successful, bind errors to error variables
                  $scope.errorUsername = data.errors.username;
                  $scope.errorEmail = data.errors.email;
                  $scope.errorPassword = data.errors.password;

              } else {
                // if successful, bind success message to message
                  $scope.message = data.message;
              }
          });
        };

      }

    </script>
  </head>
  <body ng-app="formApp" ng-controller="formController">
   
    <div id="content">
      <h1> Sign Up </h1>
      

        <div id="messages" class="well" ng-show="message">{{ message }}</div>
              <span class="help-block" ng-show="errorName">{{ errorName }}</span>



        <input required type="text" ng-pattern="/^[a-z0-9_-]{3,16}$/" name="username" placeholder="Username" autocomplete="off" ng-model="formData.username" >

        <input required type="text" ng-pattern="/@/" name="email" placeholder="Email" autocomplete="off" ng-model="formData.email">

        <input required ng-minlength="6" type="password" name="password" placeholder="Password (Minimum 6 characters)" autocomplete="off" ng-model="formData.password" >

        <input required type="password" name="password" placeholder="Confirm password" autocomplete="off" ng-model="passCheck" ng-class="{valid: passCheck == formData.password, invalid: passCheck != formData.password}">


        <button ng-disabled="myForm.$invalid" ng-click="processForm()">Sign Up</button>                   
       
 


 <pre>
    {{ formData }}
  </pre>
    </div>

  </body>
  
  
</html>