
@font-face {
  font-family: 'Roboto Light';
  src: url('fonts/Roboto-Light.ttf')  format('truetype')
}

html, body {
  margin:0;
  padding:0;
  height:100%;
  width:100%;
  font-family:'Roboto Light';
}

#content {
  width: 700px;
  height:auto;
  margin: 0 auto;

}
.strip {
  width:90%;
  padding:10px;
  padding-top:0px;
  height:auto;
  position:relative;
  border-radius:2px;
  -webkit-border-radius:2px;
  -moz-border-radius:2px;
  -ms-border-radius:2px;
  -moz-box-shadow:    0px 0px 2px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.1);
  box-shadow:         0px 0px 2px 2px rgba(0,0,0,0.1);
  margin-top:20px;
}
.pic img {
  width:100%;
}
.head {
  position:relative;
  width:100%;
  text-align:left;
  font-size:20px;
  padding:10px 0;
}
.likes {
  width: auto;
  height:100%; 
  position:absolute;
  right: 10px;
  padding-top: 10px;
  top: 0;
}
.likes img {
  vertical-align:middle;
}


@media only screen and (min-width: 768px) {

}
