
@font-face {
  font-family: 'Roboto Light';
  src: url('fonts/Roboto-Light.ttf')  format('truetype')
}

html, body {
  margin:0;
  padding:0;
  height:100%;
  width:100%;
  font-family:'Roboto Light';
}

#content {
  width: 700px;
  height:auto;
  margin: 0 auto;
  border-radius:2px;
  -webkit-border-radius:2px;
  -moz-border-radius:2px;
  -ms-border-radius:2px;
  -moz-box-shadow:    3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow:         3px 3px 5px 6px #ccc;
}
.strip {
  width:100%;
  height:auto;
  position:relative;
}
.pic img {
  width:100%;
}
.head {
  position:relative;
  width:100%;
  text-align:left;
  font-size:20px;
  padding:10px 0;
}
.likes {
  width: auto;
  height:100%; 
  position:absolute;
  right: 10px;
  padding-top: 10px;
  top: 0;
}
.likes img {
  vertical-align:middle;
}


@media only screen and (min-width: 768px) {

}
