
@font-face {
  font-family: 'Roboto Light';
  src: url('fonts/Roboto-Light.ttf')  format('truetype')
}

html, body {
  margin:0;
  padding:0;
  height:100%;
  width:100%;
  font-family:'Roboto Light';
}

#content {
  width: 700px;
  height:auto;
  margin: 0 auto;

}
.strip {
  width:90%;
  padding:10px;
  padding-top:0px;
  height:auto;
  position:relative;
  border-radius:5px;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  -ms-border-radius:5px;
  -moz-box-shadow:    0px 0px 2px 1px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.1);
  box-shadow:         0px 0px 2px 1px rgba(0,0,0,0.1);
  margin-top:20px;
}
.pic img {
  width:100%;
  max-height:500px;
}
.head {
  position:relative;
  width:100%;
  text-align:left;
  font-size:20px;
  padding:10px 0;
}
.likes {
  width: auto;
  height:100%; 
  position:absolute;
  right: 10px;
  padding-top: 10px;
  top: 0;
}
.likes img {
  cursor:pointer;
  vertical-align:middle;
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(100%);
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  margin-right:5px;
}
.likes img:hover, .likes img.liked {
  filter: alpha(opacity=100);
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
  -webkit-filter: grayscale(0%);
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}


@media only screen and (min-width: 768px) {

}
