
@font-face {
  font-family: 'Roboto Light';
  src: url('fonts/Roboto-Light.ttf')  format('truetype')
}

html, body {
  margin:0;
  padding:0;
  height:100%;
  width:100%;
  font-family:'Roboto Light';
}

#content {
  width: 700px;
  height:auto;
  margin: 0 auto;
  text-align:center;
}
h1 {
  text-transform:uppercase;
  font-size:24px;
  letter-spacing:1px;
}

input[type="text"], input[type="password"], input[type="email"] {
  display:inline-block;
  width:400px;
  margin:15px;
  padding:15px;
  border:none;
  outline:none;
  font-family:'Roboto Light';
  font-size:16px;
    border-radius:5px;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  -ms-border-radius:5px;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;

  background-color:white;
  color:black;

  -webkit-box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.05);
  box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.05);
}
input[type="text"]:hover, input[type="password"]:hover, input[type="email"]:hover {
  background-color:rgba(0,0,0,0.02);
    -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus {
  border:0;
  outline:none;
  outline-color: transparent;
  outline-offset: 0;
  -webkit-box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.2);
  box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.2);
  background-color:rgba(0,0,0,0.06);
    -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
::-webkit-input-placeholder, :-moz-placeholder, ::-moz-placeholder, :-ms-input-placeholder  {
   color: rgba(0,0,0,0.4);
}


input[type="submit"] {
    border-radius:5px;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  -ms-border-radius:5px;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  display:cursor;
  display:block;
  border:0;
  outline:none;
  margin:25px auto;
  padding:15px;
  background-color:rgba(0,0,0,0.6);
  color:white;
  font-size:16px;
  font-family:'Roboto Light';
}

input[type="submit"]:hover {
  background-color:rgba(0,0,0,0.6);
    -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}


